################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Hilos/.vs/Hilos/v15/Server/sqlite3/db.lock
